

footer{
	background-image: linear-gradient(to bottom right,LightCyan, lightblue );	
	
}

h1{
	color: black;
	text-shadow: black 0.1em 0.2em 0.4em
}

.navbar-brand{
	color: white;
	text-shadow: black 0.1em 0.2em 0.5em;
	font-weight: bold;
}

